<%= raw @sss%>
<form class="form-horizontal" action="/admin/shares/check/<%=@share.id%>" method="POST">
  <div class="form-group">
    <label class="col-sm-2 control-label">昵称</label>
    <div class="col-sm-8">
      <p class="form-control-static"><%=@share.name%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">电话</label>
    <div class="col-sm-8">
      <p class="form-control-static"><%=@share.tel%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">状态</label>
    <div class="col-sm-8">
      <p class="form-control-static"><%=status @share%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 col-xs-12 control-label">播放时长</label>
    <div class="col-sm-2 col-xs-6">
      <div class=" input-group">
        <%= text_field_tag "duration", @share.duration, class: "form-control" %>
        <span class="input-group-addon">秒</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%=submit_tag "通过", name: "pass", class: "btn btn-success"%>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%=submit_tag "拒绝", name: "reject", class: "btn btn-danger"%>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%=link_to "/admin/shares", class: "btn btn-default" do %>
        <span class='glyphicon glyphicon-arrow-left'></span> 返回
      <% end %>
    </div>
  </div>

  <div class="share" style="max-width: 100%;">
    <h1><%=@share.name%></h1>
    <p class="content"><%=@share.content%><p>
        <img src="<%=@share.image_1%>" />
  </div>

</form>
