<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">昵称</label>
    <div class="col-sm-8">
      <p style="position:relative;top:7px;"><%=@share.name%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">电话</label>
    <div class="col-sm-8">
      <p style="position:relative;top:7px;"><%=@share.tel%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">状态</label>
    <div class="col-sm-8">
      <p style="position:relative;top:7px;"><%=status @share%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">播放时长</label>
    <div class="col-sm-2">
      <%= text_field_tag "duration", @share.duration, class: "form-control" %>
    </div>
    <div class="col-sm-8">
      <button class="btn btn-default" onclick="updateDuration(<%=@share.id%>)">修改</button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2">
      <%=link_to "/admin/shares/pass/#{@share.id}", method: "post", class: "btn btn-success" do %>
        <span class='glyphicon glyphicon-ok'></span> 通过
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%=link_to "/admin/shares/reject/#{@share.id}", method: "post", class: "btn btn-danger" do %>
        <span class='glyphicon glyphicon-remove'></span> 拒绝
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%=link_to "/admin/shares", class: "btn btn-default" do %>
        <span class='glyphicon glyphicon-arrow-left'></span> 返回
      <% end %>
    </div>
  </div>

  <div class="share">
    <h1><%=@share.name%></h1>
    <p class="content"><%=@share.content%><p>
        <img src="<%=@share.image_1%>" />
  </div>
</div>
