<div style="background:#fffaa4;text-align:center;border:1px solid #111;overflow:hidden;margin-left:15px;margin-right:15px;margin-top:5px;">
  <a class="col-xs-6" style="padding: 3px;text-decoration: none;background:#111;color:#fff;" href="#">所有分享</a>
  <a class="col-xs-6" style="padding: 3px;text-decoration: none;color:#111;" href="/shares">我要分享</a>
</div>
<section class="container">
  <form method="GET" action="/shares/search">
    <div class="input-group">
      <span class="input-group-btn">
        <button style="background:#fffaa4;" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </span>
      <input name="tel" type="tel" style="background:#fffaa4;" class="form-control" placeholder="手机号码/昵称" value="<%=@tel%>">
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th style="border-bottom: 2px solid #555;">昵称</th>
        <th style="border-bottom: 2px solid #555;">分享内容</th>
        <th style="border-bottom: 2px solid #555;"></th>
      </tr>
      <thead>
        <tbody>
          <% @shares.each do |share| %>
            <tr>
              <td onclick="window.location.href='/shares/<%=share.id%>'"><%=share.name%></td>
              <td onclick="window.location.href='/shares/<%=share.id%>'"><%=share.content%></td>
              <td onclick="good(<%=share.id%>)">
                <div  style="background:#fffaa4;padding: 3px 3px 1px 3px;min-width:50px;">
                  <i style="color:#000;" class="glyphicon glyphicon-thumbs-up"></i>
                  <span id="like_<%=share.id%>" class="pull-right"><%=share.fav%></span>
                </div>
              </td>
            </tr>
            <% end%>
        </tbody>
  </table>
  <% if @tel.nil? or @tel.empty? %>
  <%= will_paginate @shares, page_links: false %>
  <% end %>
</section>
