<section class="container">
  <h2 style="font-size:20px;font-weight:bold;margin-bottom:0;">大屏分享</h2>
  <a href="/shares/new" class="pull-right" style="color:#000;position:relative;top:-20px;"><span class="glyphicon glyphicon-share"></span> 参与分享</a>
  <form method="GET" action="/shares/search">
    <div class="input-group">
      <span class="input-group-btn">
        <button style="background:#fffaa4;" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </span>
      <input name="tel" type="tel" style="background:#fffaa4;" class="form-control" placeholder="手机号码" value="<%=@tel%>">
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th style="border-bottom: 2px solid #555;">昵称</th>
        <th style="border-bottom: 2px solid #555;">分享内容</th>
        <th style="border-bottom: 2px solid #555;"></th>
      </tr>
      <thead>
        <tbody>
          <% @shares.each do |share| %>
            <tr onclick="window.location.href='/shares/<%=share.id%>'">
              <td><%=share.name%></td>
              <td><%=share.content%></td>
              <td><i style="color:#000;" class="glyphicon glyphicon-chevron-right"></i></td>
            </tr>
            <% end%>
        </tbody>
  </table>
  <% if @tel.nil? or @tel.empty? %>
  <%= will_paginate @shares, page_links: false %>
  <% end %>
</section>
